.mode
{
  margin-bottom: 0.5em;
}
button.light
{
  background-color: #dcfcfc;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0em 0.2em 0.5em 0.2em;
  border:0.3em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  color:#000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}
button.dark
{
  background-color: #212936;
  color:#c5c8c6;
  Display:inline-block;
  padding:0.3em 1.2em;
  margin:0em 0 0.5em 0;
  border:0.3em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body.light-theme{
  background-color: #fcffff;
}




body.dark
{
	background-color: #212936;
	color: #c5c8c6;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  margin: 0 5px 5px 5px
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .row.footer {
  margin: 0 5px 0 5px;
  flex: 0 1 auto;
  font-size: 0.8em;
}

.filterRadio {
  border: 1px solid #000;
  padding-bottom: 2px;
  display: inline;
}

.dark .filterRadio 
{
	border: 1px solid gray;
}

.radioLabel {
	position: relative;
	top: 2px;
}

.radio {
	position: relative;
	top: 3px;
}

table, th, td {
  text-align: center;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 5px;
}
tr.even{background-color: #dcfcfc;}
tr:hover {background-color: #92a7a7;}

.dark td, .dark th
{
	border: 1px solid gray;
}
.dark tr.even{background-color: #394150;}
.dark tr:hover{background-color: #32302f;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ecfcdc;
  color: black;
}
.dark th{
  background-color: #212936;
  color: white;
  ;
}
thead tr th {
  position: sticky;
  top: -1px;
}
img {
  vertical-align: middle;
}
img.pokemon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.msikma {
	height: auto;
	position: relative;
	top: -14px;
}
div.msikma {
	height: 40px;
	overflow: hidden;
}
.event, .pokemon, .history, .ot
{
	font-size: 0.8em;
}

.notes
{
  font-size: 0.7em;
}
tr.personal 
{
	background-color: #fcdcdc !important; 
}
tr.personal.even
{
	background-color: #e8a9a9 !important; 
}
tr.personal:hover
{
	background-color: #e46464 !important; 
}

.dark tr.personal
{
	background-color: #450606 !important; 
}
.dark tr.personal.even
{
  background-color: #560C0C !important; 
}
.dark tr.personal:hover 
{
  background-color: #350F0F !important;
}
tr.traded
{
	background-color: #e2dcfc !important;
	text-decoration: line-through;
}
.dark tr.traded
{
	background-color: #610061 !important;
}
tr td.wrongGen
{
	background-color: yellow;
}
.dark tr td.wrongGen
{
	background-color: #BF7C00 !important;
}

.dark a:link
{
	color: lightskyblue;
}
.dark a:visited, .dark a:hover, .dark a:active
{
	color: white;
}
.dark .personal a:visited, .dark .personal a:hover, .dark .personal a:active
{
	color: white;
}
.dark .traded a:visited, .dark .traded a:hover, .dark .traded a:active
{
	color: darkcyan;
}
